
.menucontainer {
    width: 100%;
    min-height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1111;
}

.logo{  
    background-image: linear-gradient(165deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255, .1);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 10px 20px;
    position: relative;
    margin-left: 5vw;
    width: 180px;
    height: 50px;
    font-size: 35px;
    overflow: visible;
    display: flex;
}

#burgerCheck{
    display: none;
}

.logo a {
    padding: 0px;
    margin: 0px;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a img {
    position: relative;
    width: 90%;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
}

.navbarContainer {
    background-image: linear-gradient(165deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 1px solid rgb(255, 255, 255, .1);
    padding: 10px;
    position: absolute;
    right: 5vw;
    height: 50px;
    min-width: 55vw;
    max-width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    font-size: 18px;
    padding: 0px;
    width: 100%;
    list-style: none;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar .level1 {
    position: relative;
    display: inline-block;
    min-width: 94px;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.navbar .level1 a {
    text-decoration: none;
    color: white;
}

.navbar .level1:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;        
    color: #003366;
    border-radius: 10px;
} 

.dropdown1 .dropdownlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dropdownlist p i {
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

.dropdown1:hover .dropdownlist p i {
    transform: rotate(270deg);
    color: #003366;
}

.navbar .dropdown1:hover .acerca-dropdown {
    display: block;
    transition: 1s ease-in-out;
    visibility: visible;
}
.navbar .dropdown1:hover .acerca-dropdown li {
    visibility: visible;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    transition-delay: calc(60ms * var(--i));
}

.navbar p {
    margin: 0px;
    padding: 0px;
}

.level2 {
    position: absolute;
    list-style: none;
    padding: 0px;
    display: none;
    width: 100%;
}

.level2 a {
    text-decoration: none;
    color: white;
}

.acerca-dropdown {
    margin-top: 36px;
    display: block;
    visibility: hidden;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
}

.acerca-dropdown li {
    font-size: 15px;
    visibility: hidden;
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #003366;
    backdrop-filter: blur(10px);
    color: #ffffff;
}

.acerca-dropdown li:hover {
    cursor: pointer;
    background-color: #ffffff;
}
.acerca-dropdown li:hover a{
    color: #003366;
}
