html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
    width: 100%;
    position: sticky;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
    left: 0;
    top: 0;
    z-index: 1111;
}

main{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}


.typeSelectContainer{
    width: 600px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.typeSelect{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.serviceOpcions{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="time"],
select,
textarea {
    width: 65%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;
}

label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 50px;
    width: 35%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer
} 
